
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: #0073e6;
    color: #fff;
}

.profile-pic {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact {
    font-size: 18px;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-content {
    font-size: 18px;
}

.skills {
    margin-top: 20px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0073e6;
    padding: 10px 0;
    color: #fff;
}