body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0072d1;
}

.or-divider {
    text-align: center;
    margin-top: 20px;
}

.or-divider hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

.or-text {
    background-color: white;
    position: relative;
    top: -12px;
    padding: 0 10px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}